{% extends "base.html" %}

{% block header %}
<h1>Michael Te Mana-Aroha O'Connor</h1>
<p>
    Tēnā koutou katoa, 
    Ko Maungatautari toku maunga
    Ko Waikato te awa iti 
    Ko Tainui te waka 
    Ko Te Iti O Haua Ko Hauraki ngā iwi
    Ko Ngāti Hauā, ko Ngāti Pāoa toku hapu
    Ko Te Mana-Aroha toku ingoa
    
    Greetings to all who arrive here. This is a place where I reflect, integrate
    and grow through my questions, answers and expierences. 
</p>
{% endblock %}

{% block content %}
<ul>
    {% for post in section.pages %}
    <li class="post-link">
        <a href="{{ post.permalink | safe}}">{{ post.title }}</a>
        <small>{{ macros::format_date(date=post.date) }}</small>
    </li>
    {% endfor %}
</ul>
{% endblock content %}